.container {
    display: flex;
    margin-bottom: 10px;
    
}

.cardTraining {
    text-decoration: none;
    margin-left: -100px;
    border: 1px solid black;
    margin-right: 10px;
    border-radius: 4px;
    color: black;
}

.cardTraining:first-child {
    margin-left: 0px;
}

.cardTraining:hover {
    z-index: 999;
    /* margin-left: -50px; */
    margin-right: 100px;
    scale: 1.1;
}

.cardTraining:hover:last-child{
    margin-right: 0px;
}

.cardTraining:hover:first-child {
    margin-left: 8px;
}