.plan {
    display: flex;
    margin: 10px;
}
.name {
    margin: 20px;
    color: white;
}

.plan a {
    text-decoration: none;
    color: white;
    margin: 20px;
}

.plan a:hover {
    text-decoration: underline;
}